name: Continous Integration

on:
  workflow_dispatch: # manual trigger, can also add push or schedule
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      #Checkout your repo
      - name: Checkout
        uses: actions/checkout@v4

      - name: list the Secret
        run: |
          echo "Secret name : " ${{ env.sample.secrets.Girl }}

      - name: list the variable
        run: |
          echo "Variable name : " ${{ env.sample.boy }}
