name: Continous Integration

on:
  workflow_dispatch: # manual trigger, can also add push or schedule
  push:
    branches:
      - main

env:
  sub_name: test_sub
  tenant_name: test_tenant
  resource_name: virtual_machine
  file: ./test.yaml
  file2: ./test2.json
  file3: ./test3.py
  
jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      #Checkout your repo
      - name: Checkout
        uses: actions/checkout@v4

      - name: list the variables
        run: |
          echo "Sub_name : " ${{ env.sub_name }}
          echo "Variable name : " $tenant_name
          echo "Variable name : " ${{ env.resource_name }}

      - name: Read the contents of my files
        run: |
          cat $file          
          cat $file2        
          cat $file3

      - name: Create ZIP file
        run: |
          zip -r build-${{ github.run_number }}.zip dist/

      - name: Upload ZIP as artifact
        uses: actions/upload-artifact@v4
        with:
          name: zipped-build
          path: build-${{ github.run_number }}.zip
